# Virtual environment
venv

# IDE
.idea

# data
datasets/**/*__processed.txt
notebooks/**/*.names
notebooks/**/*.data

# misc

# notebooks
notebooks/logistic_regression/mushrooms/.ipynb_checkpoints

# python
**.pyc