# Virtual environment
venv

# IDE
.idea

# data
datasets/**/*__processed.txt
notebooks/**/*.names
notebooks/**/*.data
regression_analysis/data

# misc

# notebooks
**/**/.ipynb_checkpoints/*.ipynb

# python
**.pyc